.item {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
  align-items: center;
  background-color: white;
  border-radius: 0.25rem;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.remove {
  color: red;
}

.content {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
