.form {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.input {
  flex: 1;
  padding: 0.25rem 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  color: black;
}

.priority {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.priorityInput {
  width: 3rem;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  color: black;
}

.button {
  background-color: #3b82f6;
  color: white;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
}
